


  body {
    background-image:url(images/mybg.jpeg);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 400px; 
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border: 2px solid #007bff; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
   
  }
  
  
  label#num {
    font-size: 2rem; 
    color: #007bff; 
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
  }

  
  input[type="text"] {
    width: 100%; 
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da; 
    font-size: 1rem;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
  }

  
  button.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  

       
        .restart {
            font-size: 1.5rem;
            padding: 15px 30px;
            background-color: #25ccd8; 
            color: black;
            border: none;
            border-radius: 50px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
        }

        .restart:hover {
            background-color:rgba(13, 51, 82, 0);
            cursor: pointer;
            transform: scale(1.1);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        }

        .restart:active {
            background-color: #3368ad; 
            transform: scale(1);
        }


  
        .restartWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #result {
          font-size: 1.2rem;
          color: #c03016;
          font-weight: bold;
          text-align: center;
      }
      
      